:root {
    --cor-de-fundo: #201C18;

    --cor-primaria: #E6C063;
    --cor-secundaria: #6878A3;
    --cor-terciaria: #597DE3;
    --cor-quaternaria: #8E8367;
    --cor-quinaria: #595B63;


    --fonte-primaria: arial,sans-serif;
    --fonte-secundaria: ;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
}

.header {
    margin: 2rem;
    display: flex;
}

.header__nav a{
    color: var(--cor-primaria);
}

.nav__ancora {
    margin: 0 2rem;
}

.main {
    height: 85vh;
}

.main__section__1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__div {
    width: 615px;
    margin: 10% 10%;
    align-items: center;
}

.main__titulo {
    font-size: 1.5rem;
}

.main__paragrafo__2 {
    margin: 15px 0;
}

.main__imagem__folha {
    margin-right: 10%;
    height: 30rem;
}